header{
    height: auto;
    nav{
        position: fixed;
        z-index: 10;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: calc(100% - 40px);
        padding: 10px 20px;
        transition: 600ms background-color ease;
        &.filled{
            border-bottom: 1px solid rgba(34, 28, 122, 0.596);
        }
        .nav-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            h4{
                margin-left: 10px;
                font-weight: 500;
            }
            img{
                width: 50px;
                height: 50px;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .nav-desktop{
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                @media screen and (min-width: 650px){
                    flex-direction: row;
                    align-items: center;
                }
                @media screen and (max-width: 650px){
                    flex-direction: column;
                    margin-left: 15vw;
                    margin-top: 20vh;
                }
                list-style-type: none;
                li{
                    font-weight: 600;
                    @media screen and (max-width: 650px){
                        &:not(:nth-last-child(1)){
                            margin-bottom: 40px;
                        }
                    }
                    &:not(:nth-last-child(1)){
                        margin-right: 40px;
                    }
                    a{
                        color: $white;
                        transition: 500ms color ease;
                        &:hover{
                            cursor: pointer;
                        }
                        @media screen and (min-width: 650px){
                            &:not(.button){
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 1.5px;
                                    background: $white;
                                    transition: width .3s;
                                }
                                &:hover::after{
                                    width: 100%;
                                }
                            }
                        }
                        @media screen and (max-width: 650px){
                            font-size: 40px;
                            &:not(:nth-last-child(1)){
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
        #nav-button{
            @media screen and (min-width: 650px) {
                display: none;
            }
            i{
                color: $white;
                font-size: 30px;
                &:hover{
                    cursor: pointer;
                    //fill: $orange;
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    header{
        nav{
            background-color: $blue-20;
        }
        .nav-desktop{
            position: fixed;
            z-index: 10;
            overflow: hidden;
            top: 64px;
            left: 0;
            height: calc(100vh - 64px);
            width: 0vw;
            display: block;
            transition: 600ms width ease;
            background-color: $blue-20;
            white-space: nowrap;
            ul{
                li{
                    .button{
                        background-color: transparent;
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }
}