@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$white: #fff;
$white-1: rgba(255, 255, 255, 0.6);
$white-2: rgba(255, 255, 255, 0.438);
$white-3: #bbbbbb;
$black: #000;
$blue-0: #09215d;
$blue-1: #2A5BCE;
$blue-2: #596D98;
$blue-3: #A5B3CE;
$blue-4: #B6C6DE;
$blue-10: #F0F4F8;
$blue-20: #19253c;

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $blue-20;
    color: $white;
}

.content{
    &-w-80{
        width: min(1200px, 80%);
        margin: auto;
        padding: 30px 0;
        h2{
            text-align: center;
            font-weight: 500;
            font-size: 54px;
        }
        p{
            .larger{
                font-size: 24px;
            }
            .small{
                color: $white-3;
            }
        }
    }
}

.bg{
    &-blue-0{
        background-color: $blue-0;
    }
    &-blue-1{
        background-color: $blue-1;
    }
    &-blue-2{
        background-color: $blue-2;
    }
    &-blue-3{
        background-color: $blue-3;
    }
    &-blue-4{
        background-color: $blue-4;
    }
    &-blue-10{
        background-color: $blue-10;
    }
    &-blue-20{
        background-color: $blue-20;
    }
}
.color{
    &-white-1{
        color: $white-1;
    }
    &-white-2{
        color: $white-2;
    }
}
@for $i from 1 through 100 {
    .w-#{$i} {
        &-vw{
            width: $i + vw;
        }
        &-vh{
            width: $i + vh;
        }
        &-perc{
            width: $i *1%;
        }
        &-px{
            width: $i + px;
        }
    }
    .h-#{$i}{
        &-vw{
            height: $i + vw;
        }
        &-vh{
            height: $i + vh;
        }
        &-perc{
            height: $i *1%;
        }
        &-px{
            height: $i + px;
        }
    }
}


@import './01. Layouts/grids';
@import './02. Components/navbar';
@import './02. Components/footer';
@import './02. Components/button';
@import './03. Content/typography';

@import './04. Pages/index';