.grid{
    display: flex;
    &-row{
        flex-direction: row;
        &-2{
            &-col{
                .col{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }
            }
        }
    } 
}