.index-hero{
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 620px){
        padding-top: 70px;
        height: 60vh;
        justify-content: center;
        flex-direction: column-reverse;
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 90%;
            margin: auto;
        }
        video{
            position: absolute;
            object-fit: cover;
            z-index: 3;
            width: 100%;
            height: 60vh;
            filter: brightness(40%);
        }
    }
    @media screen and (min-width: 620px){
        justify-content: center;
        min-height: 80vh;
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10%;
            width: min(1200px, 80%);
            p{
                width: min(400px, 50%);
                line-height: 2;
                color: $white-3;
            }
            h1{
                width: min(500px, 100%);
                text-align: center;
            }
        }
        video{
            position: absolute;
            object-fit: cover;
            z-index: 3;
            width: 100%;
            height: 80vh;
            filter: brightness(40%);
        }
    }
    .col{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 4;
        h1{
            font-size: 50px;
        }
    }
    .button-wrapper{
        display: flex;
        flex-direction: row;
        @media screena and (min-width: 650px){
            margin-top: 100px;
        }
        @media screen and (max-width: 650px){
            margin-top: 40px;
            margin-bottom: 40px;
        }
        a{
            margin-top: 10px;
            font-size: 22px;
        }
    }
}
.index-row{
    padding: 30px 40px;
}
.content-w-80{
    @media screen and (max-width: 580px){
        width: 95%;
    }
    .col{
        h2{
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            margin: auto;
            font-size: 22px;
        }
    }
    .google-embed{
        margin-top: 20px;
        width: 100%;
        height: 500px;
        border-radius: 6px;
    }
}

.fade-in{
    opacity: 0;
    &.appear{
        animation: appear 1s linear forwards;
        animation-delay: 400ms;
        @keyframes appear {
            0%{
                opacity: 0;
                transform: translateY(50);
            }
            50%{
                opacity: 0.5;
                transform: translateY(25);
            }
            100%{
                opacity: 1;
                transform: translateY(0);
            }

        }

    }
}
.load{
    opacity: 0;
    transition: opacity 600ms linear;
}

.swiper{
    padding: 40px 0;
    h2{
        font-size: 54px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }
}

#popupWindow{
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    &[aria-label="display"]{
        display: flex;
    }
    &[aria-label="hidden"]{
        display: none;
    }
    .window-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #19253c;
        border: 1px solid #d4d4d433;
        border-radius: 8px;
        a:nth-child(1){
            width: 100%;
            text-align: end;
            font-size: 40px;
            span{
                &:hover{
                    cursor: pointer;
                }
            }
        }
        @media screen and (max-width: 600px){
            width: calc(90% - 40px);
            margin: auto;
            padding: 10px 20px 40px 20px;
            p{
                font-size: 20px;
            }
        }
        @media screen and (min-width: 600px){
            max-width: 600px;
            height: 400px;
            padding: 10px 40px 40px 40px;
            p{
                font-size: 22px;
            }
        }
        p{
            line-height: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            text-align: center;
        }
        a:nth-last-child(1){
            margin-top: auto;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.swiper{
    overflow-y: hidden;
    margin: 80px 0;
    &:hover{
        cursor: grab;
    }
    .swiper-wrapper{
        transition: transform 600ms ease;
        @media screen and (max-width: 400px){
            .review-box{
                width: calc(90vw - 40px);
                margin-left: 5vw;
            }
        }
        @media screen and (min-width: 400px) {
            .review-box{
                width: 400px;
                margin: 0 10px;
            }
        }
        .review-box{
            display: flex;
            flex-direction: column;
            background-color: $blue-1;
            padding: 10px 20px;
            border-radius: 8px;
            height: 200px;
            user-select: none;
            .reviewer{
                margin-top: 10px;
                font-weight: 900;
            }
            .rating-wrapper-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;
                p{
                    margin: 0;
                }
            }
        }
    }   
}
.before-after-wrapper{
    margin: 20px 0;
    display: flex;
    @media screen and (max-width: 850px){
        justify-content: center;
        flex-direction: column;
        .before-after{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 850px){
        flex-direction: row;
        justify-content: space-between;
        .before-after{
            width: 45%;
        }
    }

    .before-after{
        height: 250px;
        overflow: hidden;
        border-radius: 6px;
        border: 1px solid $blue-2;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            &:nth-child(1){
                display: block;
            }
            &:nth-child(2){
                display: none;
            }
        }
        &:hover{
            img{
                &:nth-child(1){
                    display: none;
                }
                &:nth-child(2){
                    display: block;
                }
            }
        }
    }
}

.pitch-wrapper{
    display: flex;
    overflow: hidden;
    @media screen and (max-width: 1300px){
        flex-direction: column;
        .pitch-box{
            width: min(600px, 80%);
            margin: 0 auto 10px auto;
        }
    }
    @media screen and (min-width: 1300px){
        flex-direction: row;
        .pitch-box{
            width: calc((100% / 3) - 20px);
            margin: 0 10px;
        }
    }
    margin-top: 20px;
    .pitch-box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 20px;
        border-radius: 8px;
        height: 200px;
        overflow: hidden;
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
        z-index: 2;
        border: 1px solid $white-2;
        &:nth-child(2){
            img{
                transform: rotate(180deg);
            }
        }
        img{
            //filter: brightness(0.8);
            width: 120%;
            height: 200%;
            &:nth-last-child(1){
                display: none;
            }
        }
        span{
            position: absolute;
            z-index: 5;
            text-align: center;
            &:nth-child(1){
                bottom: 50%;
                font-weight: 600;
                font-size: 26px;
            }
            &:nth-child(2){
                bottom: -50%;
            }
        }
        &:hover{
            span{
                &:nth-child(1){
                    animation: smooth_appear1 600ms ease forwards;
                }
                &:nth-child(2){
                    animation: smooth_appear 600ms ease forwards;
                }
            }
        }
    }
}

@keyframes smooth_appear {
    from{
        bottom: -20%;
    } to {
        bottom: 20%;
    }
}
@keyframes smooth_appear1 {
    from{
        bottom: 50%;
    } to {
        bottom: 70%;
    }
}



.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-wrapper{
        display: flex;
        flex-direction: column;
        width: min(100%, 500px);
        margin-bottom: 20px;
        label{
            font-size: 20px;
            font-weight: 600;
        }
        input{
            box-sizing: border-box;
            width: 100%;
            height: 44px;
            border-radius: 6px;
            border: 1px solid $blue-2;
            padding-left: 10px;
        }
        textarea{
            height: 300px;
            border-radius: 6px;
            resize: none;
            padding-top: 10px;
            padding-left: 10px;
            font-family: 'Roboto', sans-serif;
        }
    }
    button{
        width: 200px;
        border-radius: 6px;
        border: 1px solid transparent;
        background-color: $blue-1;
        color: $white;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}