.button, button{
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 600;
    transition: 600ms background-color ease;
    &-black{
        background-color: $black;
        color: $white;
        border: none;
        &:hover{
            background-color: $white;
            color: $black;
            cursor: pointer;
        }
    }
    &-blue{
        color: $white;
        background-color: $blue-1;
        border: 1px solid $blue-1;
        &:hover{
            background-color: transparent;
            color: $blue-1;
            cursor: pointer;
        }
    }
    &-hollow{
        background-color: transparent;
        color: $black;
        &-black{
            border: 1px solid $black;
            &:hover{
                background-color: $black;
                color: $white;
                cursor: pointer;
            }
        }
        &-blue{
            border: 1px solid $blue-1;
            color: $blue-1;
            &:hover{
                background-color: $blue-1;
                color: $white;
                cursor: pointer;
            }
        }
    }
    &.button-square{
        border-radius: 6px;
    }
    &.button-pill{
        border-radius: 20px;
    }
}